# Configurable Backend API Endpoint (Custom Domain or Testing Server)
VITE_API_BASE_URL=https://medical-stock-system-backend.onrender.com/result-analysis
VITE_API_URL=https://medical-stock-system-backend.onrender.com/result-analysis
VITE_CUSTOM_DOMAIN=https://your-custom-domain.com

VITE_REMOTE_BASE=/remotes
VITE_DEV_PORT=3009
