NODE_ENV=development
HOST=127.0.0.1
PORT=4009
MONGO_URI=mongodb://127.0.0.1:27017/result_analysis_db
# Configurable Custom Domain & CORS Origins
FRONTEND_URL=https://medical-stock-system.vercel.app
ALLOWED_ORIGINS=https://medical-stock-system.vercel.app,https://medical-stock-system-testing.vercel.app,https://your-custom-domain.com
# Public key used to verify internal tokens
JWT_INTERNAL_PUBLIC_KEY=
CORE_INTERNAL_AUD=result-analysis
